.todo-list-wrap {
    width: 100%;
    padding: 30px;
    padding-right: 20px;
    background: var(--dark-purple);
    border-radius: var(--border-radius);
    margin-top: 30px;
    height: 45vh;
    max-height: 400px;
}

.todo-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

/* width */
.todo-list::-webkit-scrollbar {
    width: 10px;
    margin-left: 20px;
}

/* Track */
.todo-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* Handle */
.todo-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

/* Handle on hover */
.todo-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}

.todo-item {
    padding: 13px 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(89.71deg, var(--light-pink) 2.6%, var(--light-pink-darker) 100%);
    border-radius: var(--border-radius);
    color: var(--dark-purple);
    transition: var(--transition);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    box-shadow: var(--light-pink-shadow);
}

.todo-item:hover {
    /* background: linear-gradient(89.71deg, var(--light-pink-darker) 2.6%, var(--light-pink) 100%); */
    color: var(--accent-pink);
}

.todo-item-controls {
    display: flex;
    gap: 10px;
}

.todo-item-btn {
    height: 19px;
    width: 19px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.todo-item-btn svg path {
    fill: var(--purple);
    transition: var(--transition);
}

.todo-item-btn:hover svg path {
    fill: var(--accent-pink);
}