.input {
    padding: calc(var(--vertical-padding) - 2px) 20px;
    border: 2px solid var(--accent-pink);
    box-shadow: var(--accent-pink-shadow);
    background: transparent;
    border-radius: var(--border-radius);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    width: auto;
    transition: var(--transition);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input:hover,
.input:focus {
    box-shadow: var(--accent-pink-shadow-hover);
}