:root {
    --accent-pink: #E5139E;
    --accent-pink-darker: #961A6F;
    --accent-pink-shadow: 0px 2px 10px rgba(255, 0, 168, 0.4);
    --accent-pink-shadow-hover: 0px 2px 20px rgba(255, 0, 168, 0.4);

    --purple: #1F1D36;
    --purple-lighter: #2C2441;

    --dark-purple: #181626;

    --light-pink: #FFEDF9;
    --light-pink-darker: #FFE4F6;
    --light-pink-shadow: 0px 2px 10px rgba(255, 220, 243, 0.2);

    --border-radius: 10px;
    --vertical-padding: 14px;
    --transition: 0.3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.has-purple-gradient-bg {
    background: linear-gradient(116.55deg, var(--purple) 0%, var(--purple-lighter) 100.81%);
}

/* .has-accent-pink-gradient-bg {
    background: linear-gradient(80.91deg, var(--accent-pink) 0.01%, var(--accent-pink-darker) 82.75%);
}

.has-light-pink-gradient-bg {
    background: linear-gradient(89.71deg, var(--light-pink) 2.6%, var(--light-pink-darker) 100%);
} */

.todo-app {
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 740px;
    padding: 20px;
    margin: 0 auto;
}

.h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}